<configuration>
  <dllmap dll="fmod" target="libfmod.dylib" />
  <dllmap dll="fmodstudio" target="libfmodstudio.dylib" />
  <dllmap dll="CSteamworks" target="libCSteamworks.dylib" />
  <dllmap dll="kernel32" target="libkernel32.dylib" />
  <dllmap dll="user32" target="libuser32.dylib" />
  <dllmap dll="gdi32" target="libgdi32.dylib" />
  <dllmap dll="shell32" target="libshell32.dylib" />
  <dllmap dll="Carbon" target="libCarbon.dylib" />
  <dllmap dll="SDL3" target="libSDL3.dylib" />
  <dllmap dll="FNA3D" target="libFNA3D.dylib" />
  <dllmap dll="System.Native" target="libmono-native-unified.dylib" />
</configuration>
