<configuration>
  <dllmap dll="Carbon" target="libCarbon.dylib" os="osx" />
  <dllmap dll="kernel32.dll" target="libkernel32.dylib" />
  <dllmap dll="Kernel32.dll" target="libkernel32.dylib" />
  <dllmap dll="user32.dll" target="libuser32.dylib" />
  <dllmap dll="ReLogic.Native.dll" target="libReLogic.Native.dylib" />
  <dllmap dll="nfd.dll" target="libnfd.dylib" />
  <dllmap dll="steam_api" target="libsteam_api.dylib" />
  <dllmap dll="steam_api.dll" target="libsteam_api.dylib" />
  <dllmap dll="CUESDK_2015.dll" target="libkernel32.dylib" />
  <dllmap dll="LogitechLedEnginesWrapper.dll" target="libkernel32.dylib" />
  <dllmap dll="gdi32.dll" target="libgdi32.dylib" os="osx" />
  <dllmap dll="shell32.dll" target="libshell32.dylib" os="osx" />
  <dllmap dll="FAudio" target="libFAudio.dylib" />
  <dllmap dll="libFAudio" target="libFAudio.dylib" />
  <dllmap dll="System.Native" target="libmono-native.dylib" />
</configuration>
